<div class="modal fade" id="previewQuery" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Preview Query</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="table-container" class="table-responsive text-nowrap">
                    <table id="data-table" class="table table-hover border-top">
                        <thead id="table-header-view" class="table-primary shadow-sm"></thead>
                        <tbody id="table-body-view" class="table-border-bottom-0"></tbody>
                        <div id="noViewTab" class="text-center h1 p-5" style="min-height: 200px;">
                            <div class="d-flex justify-content-center">
                                <div class="sk-bounce sk-primary">
                                    <div class="sk-bounce-dot"></div>
                                    <div class="sk-bounce-dot"></div>
                                </div>
                            </div>
                        </div>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex px-0 mt-2">
                    <div class="w-50">Nom de la Table resultat</div>
                    <input
                      id="viewName"
                      type="text"
                      class="form-control form-control-sm search-input container-xxl border-1 p-1"
                      placeholder="Nom de la table resultat..."
                    />
                  </div>
                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#previewQuery').on('shown.bs.modal', async function (event) {
        const dataQuery = $(event.relatedTarget).data('query')

        if (dataQuery) {
            fetch('/data/executeQuery', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json', 'usr-auth-token': adminToken, },
                body: JSON.stringify(dataQuery),
            })
                .then(response => response.json())
                .then((data) => {
                    if (data.table_data[0]) {
                        document.getElementById("noViewTab").style.display = 'none';
                        const columns = Object.keys(data.table_data[0]);
                        const tableHeader = `<tr>${columns.map(column => `<th>${column}</th>`).join('')}</tr>`;

                        const tableRows = data.table_data.map(row => {
                            return `<tr>${columns.map(column => `<td class="p-1">${row[column]}</td>`).join('')}</tr>`;
                        }).join('');

                        document.getElementById('table-header-view').innerHTML = tableHeader;
                        document.getElementById('table-body-view').innerHTML = tableRows;

                        const thElements = document.querySelectorAll('#table-header-view th');
                        thElements.forEach(th => {
                            th.addEventListener('click', () => {
                                const column = th.textContent;
                                addNewChar(tableName.table_name + `.` + column)
                            });
                        });
                    }
                    else {
                        document.getElementById("#noViewTab").style.display = 'flex';
                    }
                })
                .catch(error => {
                    console.error('Error submitting form:', error);
                });
        }
    })

</script>