<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html
  lang="en"
  class="light-style customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Login Basic - Pages | Sneat - Bootstrap 5 HTML Admin Template - Pro</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="../assets/vendor/css/pages/page-auth.css" />
    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
  </head>

  <body>
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y d-flex justify-content-center my-3">
          <!-- Register -->
          <div class="card col-sm-5">
            <div class="card-body">
              
              <h4 class="my-4 text-center h3">S'enregister sur Expo Data</h4>
              <div class="mb-3 form-control shadow-sm">
                <div class="d-flex items-center justify-content-between">
                  <div class="mb-3">
                    <label for="nom" class="form-label">Nom</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="nom"
                      name="nom"
                      placeholder="Entrer votre nom"
                      autofocus
                    />
                  </div>
                  <div class="mb-3">
                    <label for="prenom" class="form-label">Prénom</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="prenom"
                      name="prenom"
                      placeholder="Entrer votre prénom"
                      autofocus
                    />
                  </div>
                </div>
                <div class="mb-3">
                  <label for="login" class="form-label">Login</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="login"
                    name="login"
                    placeholder="Entrer votre pseudo"
                    autofocus
                  />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input 
                    type="text" 
                    class="form-control form-control-sm" 
                    id="email" 
                    name="email" 
                    placeholder="Entrer votre email" 
                  />
                </div>
                <div class="mb-3 form-password-toggle">
                  <label class="form-label" for="password">Password</label>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="password"
                      class="form-control form-control-sm"
                      name="password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>

                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms" />
                    <label class="form-check-label" for="terms-conditions">J'accepte les </label>
                    <a target="_blank" href="javascript:void(0);">termes d'utilisation !</a>
                  </div>
                </div>

                <p id="errorMessage" class="text-danger"></p>
                <button id="btnSubmitRegister" onclick="submitRegisterForm()" class="btn btn-primary d-grid w-100 mb-3" disabled>S'enregister</button>
              </div>

              <p class="text-center mb-0">
                <span>Déjà un compte ?</span>
                <a href="/"><span>Se connecter</span></a>
              </p>
            </div>
          </div>
          <!-- /Register -->
    </div>

    <!-- / Content -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <!-- <script src="../assets/js/main.js"></script> -->

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script>
      const btnSubmit = document.getElementById('btnSubmitRegister');
      checkbox = document.querySelector('#terms-conditions');

      async function submitRegisterForm() {
        const nom = document.getElementById('nom').value;
        const prenom = document.getElementById('prenom').value;
        const login = document.getElementById('login').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        const formData = {
          nom: nom,
          prenom: prenom,
          login: login,
          email: email,
          password: password,
        }

        await fetch('/user/register', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json', },
          body: JSON.stringify(formData),
        })
          .then((response) => response.json())
          .then((res) => {
            if (res.data && res.status === "success") {
              setTimeout(() => { window.location.href = "/"; }, 500);
            } else if (res.data && res.status === "error") {
              document.getElementById('errorMessage').textContent = "Pseudo déjà existant !";
              document.getElementById('errorMessage').style.display = 'block';
              document.getElementById('submitButton').style.display = 'block';
            } else {
              document.getElementById('errorMessage').textContent = res.message;
              document.getElementById('errorMessage').style.display = 'block';
              document.getElementById('submitButton').style.display = 'block';
            }
          })
          .catch(error => {
            document.getElementById('errorMessage').textContent = "Erreur lors de la soumission du formulaire, veuillez réessayer !";
            document.getElementById('errorMessage').style.display = 'block';
          });
      }

      checkbox.addEventListener('change', e => {
        if (e.target.checked) {
          btnSubmit.disabled = false;
        } else {
          btnSubmit.disabled = true;
        }
      });
    </script>
  
  </body>
</html>